.col.contacto{
    margin: 20px;
    margin-top: 150px;
    .asideContacto{
        margin: 20px;
    }

    .tituloContacto{
        text-align: center;
    }
    .fa-solid.fa-phone.contacto{
        font-size: 35px; 
        margin: 2px; 
    }
    .telefonoContactoPrimario{
        font-size: 35px;
        text-decoration: none;
    }
    .far.fa-envelope.contacto{
        font-size: 35px;
    }
    .correoContactoPrimario{
        font-family: 'Times New Roman', Times, serif;
        font-size: 35px;
        text-decoration: none;
    }
    .bi.bi-geo-alt{
        width: 35wpx;
        height: 35px;
        margin-left: -20px;
        margin-bottom: 10px;
    }

    .textoContacto{
        font-size: 25px;

    }

}

@media(max-width:483px){
    .col.contacto{
        margin-top: 20px;
        .fa-solid.fa-phone.contacto{
         font-size: px;
        }
        .telefonoContactoPrimario{
            font-size: 35px;
        }
        .far.fa-envelope.contacto{
        font-size: 25px;
        }
        .correoContactoPrimario{
        font-size: 35px;
        }
        .bi.bi-geo-alt{
            font-size: 20px;
        }
    
        .textoContacto{
            font-size: 25px;
    
        }
    }
}


.informacionpersonal{
    font-size: 25px;
    margin-bottom: 40px;
    margin-top: 40px;
}

