/* Tarjeta Pañales*/
%card{
    width: 300px;
    height: 450px;
    padding: 10px;
    margin: 5px;
    box-shadow:   inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
 
}



/* Tarjeta de Inicio*/
%cardIndex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}
/*Footer*/
%btnFooter{
    width:120px;
    background-color: $colorprimary;
    &:hover{
        background-color: $colorfiltro;
    }
}