/* Tarjeta Pañales*/
%card{
    width: 300px;
    height: 450px;
    padding: 10px;
    margin: 5px;
 
}
/* Tarjeta de Inicio*/
%cardIndex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*Footer*/
%btnFooter{
    width:120px;
    background-color: $colorprimary;
    &:hover{
        background-color: $colorfiltro;
    }
}