.footer{
    margin: 30px;
}
.row.text-center.callToAction{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    
}
.btn.btn-primary.footer{
    width:120px
}
.linksFooter{
    font-size: 20px;
    margin: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.manifiesto{
    text-decoration: none;
    font-size: 20px;
}
.polCam{
    text-decoration: none;
    font-size: 20px;
}
.envios{
    text-decoration: none;
    font-size: 20px;
}
.contactoLinks{
    text-decoration: none;
    font-size: 20px;
}

.contactoFooter{
    margin: 30px; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.fa-solid.fa-phone{
    font-size: 25px;
}
.telefonoFooter{
    font-size: 25px;
    text-decoration: none;
}
.far.fa-envelope{
    font-size: 30px;
}
.correoFooter{
    text-decoration: none;
    font-size: 25px;
    
}
.ubicacionFooter{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px; 
    font-family: 'Times New Roman', Times, serif;
}
.fa-brands.fa-facebook{
    font-size: 30px;
    margin-top: 20px;
}
.fa-brands.fa-instagram{
    font-size: 30px;
    margin-top: 20px;
}
.maps{
    width: 100%;
    margin: 0px;
}
.row.text-center.footer{
    margin-top: 20px;
}