

.row.text-center.callToAction{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    margin: 30px;
    
}
    .placeholderIndex{
        font-size: 30px;
    }
    .btn.btn-primary.footer{
        width:120px
    }
.footerMain{
    background-color: $colorprimary;
    color: $colorfooter ;
    width: 100%;
    height: 300px;
    margin: 0px;
    padding: 20px;
  
    
}

    .linksFooter{
        font-size: 20px;
        margin: 30px;
        font-family: 'Times New Roman', Times, serif;
    }
        .manifiesto{
            text-decoration: none;
            font-size: 20px;
            color: $colorfooter;
        }
        .polCam{
            text-decoration: none;
            font-size: 20px;
            color: $colorfooter;
        }   
        .envios{
            text-decoration: none;
            font-size: 20px;
            color: $colorfooter;
        }
        .contactoLinks{
            text-decoration: none;
            font-size: 20px;
            color: $colorfooter;
        }

    .contactoFooter{
        margin: 30px; 
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
    }
        .fa-solid.fa-phone{
            font-size: 25px;
        }
        .telefonoFooter{
            font-size: 25px;
            text-decoration: none;
            color: $colorfooter;
        }
        .far.fa-envelope{
            font-size: 30px;
            
        }
        .correoFooter{
            text-decoration: none;
            font-size: 25px;
            color: $colorfooter;
            
        }
    .ubicacionFooter{
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 20px; 
        font-family: 'Times New Roman', Times, serif;
    }
    .fa-brands.fa-facebook{
        font-size: 30px;
        margin-top: 20px;
    }
    .fa-brands.fa-instagram{
        font-size: 30px;
        margin-top: 20px;
    }
    .maps{
        width: 300px;
        margin: 20px 20px 10px;
    }
    .row.text-center.footer{
        margin-top: 20px;
    }

    @media(max-width:681px){
        .footerMain{
            background-color: $colorprimary;
            color: $colorfooter ;
            width: 100%;
            height: 600px;
            margin: 0px;
        }
    }
    @media(max-width:366px){
        .footerMain{
            background-color: $colorprimary;
            color: $colorfooter ;
            width: 100%;
            height: 600px;
            margin: 0px;
        }
        .maps{
            width: 150px;
            margin: 20px 20px 10px;
        }
    }
    @media(max-width:317px){
        .footerMain{
            width: 100%;
            height: 780px;
        }
    }