

.card.text-bg-dark.cardIndex{
    margin: 0px;
    padding: 0px;
    border: none;
    width: 100%;
    height: 600px;
    box-shadow: none;

    .card-title.inicio{
        text-align: center;
        margin-top: 20px;
        font-size: 70px;
        color:$colorfooter;
        opacity: 70%;
    }
  
    .card-img{
        height: 600px;
    }
}
.contenedorSecundarioIndex{
        background-color:$colorprimary;
        width: 100%;
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        
      
   
    .btn.btn-outline-light.btnSecondaryIndex{
        width: 180px;
        height: 160px;
        margin-top: 20px;
        margin-left: 20px;
    
 
        &:hover{
        transform: scale(1.1);
    }
}
}


    @media(max-width: 1245px) {
        .contenedorSecundarioIndex{
            display: row;
            background-color: $colorprimary;
            width: 100%;
            height: 200px;
      
       
            .btn.btn-outline-light.btnSecondaryIndex{
                display:column;
                width: 140px;
                height: 160px;
                margin: 20px 
            }
        }
    }
    @media(max-width:1079px){
        .contenedorSecundarioIndex{
            display: row;
            background-color: $colorprimary;
            width: 100%;
            height: 400px;

    }}
    @media(max-width: 539px) {
        .contenedorSecundarioIndex{
            
            background-color: $colorprimary;
            width: 100%;
            height: 600px;
      
       
            .btn.btn-outline-light.btnSecondaryIndex{
            
                width: 140px;
                height: 160px;
                margin: 20px 
            }
        }
    }
    @media(max-width: 359px) {
        .contenedorSecundarioIndex{
            
            background-color: $colorprimary;
            width: 100%;
            height: 400px;
      
       
            .btn.btn-outline-light.btnSecondaryIndex{
            
                width: 140px;
                height: 100px;
                margin: 10px 
            }
    }
}
    @media(max-width: 359px){
        .contenedorSecundarioIndex{
            
            background-color: $colorprimary;
            width: 100%;
            height: 400px;
      
        
            .btn.btn-outline-light.btnSecondaryIndex{
            
                width: 100px;
                height: 100px;
                margin: 10px 
            }
    }
}
.ofertaSemanalIndex{
    text-align: center;
    font-size: 70px;
    margin: 30px;
}


.cardIndex{
  @extend%cardIndex
}
    .card.border-dark.mb-3.index{
    margin: 20px;
    width: 350px;
    height: 550px;

  
        .card-img-top.index.img-fluid{
        width: 250px;
        height: 250px;
        padding-left: 0px;
    

    
        }      
        .card-title.indexPrecioAntes{
        text-decoration:line-through;
        color: $colorsecondary;
        }
        .card-title.indexPrecioDespues{
        font-size: 40px;
        }
        .card-title.index{
        font-size: 30px;
        }
        .btn.btn-primary.btnCardIndex{
        width:250px ;
        margin: 20px;
        &:hover{
            background-color: $colorfiltro;
        }
        }
    }
@media(max-width:438px){


        .card.border-dark.mb-3.index{
            margin: 20px;
            width: 250px;
            height: 500px;
            justify-content: center;
       
           
            .card-img-top.index.img-fluid{
                width: 200px;
                height: 200px;
                margin-left: 0px;
                padding-left: 0px;
            }
            .btn.btn-primary.btnCardIndex{
                
            width:150px ;
            margin-left: 20px;
            }
        }
}

.contenedorFooter{
    width: 100%;
    height: 200px;
    background-color: $colorprimary;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;

    .btn.btn-outline-light.btnSecondaryIndexFooter{
        width: 250px;
        height: 150px;
        margin: 20px 35px 20px 35px;
    }
    .btn.btn-outline-light.btnSecondaryIndexFooter:hover{
        transform: scale(1.1);
    }
}

@media(max-width:1350px){

    .contenedorFooter{ 
        display: flex;
        flex-wrap: wrap ;
        height: 200px;
        justify-content: center;

   
        .btn.btn-outline-light.btnSecondaryIndexFooter{
            width: 200px;
            height: 150px;
            margin: 20px 25px 20px 25px;}
        }

}
@media(max-width:1079px) {
    .contenedorFooter{ 
        display: flex;
        flex-wrap: wrap ;
        height: 200px;
        justify-content: center;

    
    
        .btn.btn-outline-light.btnSecondaryIndexFooter{
            width: 200px;
            height: 150px;
            margin: 20px 10px 20px 10px;}
        }
}
@media (max-width:900px){
    .contenedorFooter{ 
        display: flex;
        flex-wrap: wrap ;
        height: 400px;
        justify-content: center;

  
            .btn.btn-outline-light.btnSecondaryIndexFooter{
            width: 200px;
            height: 150px;
            margin: 20px 10px 20px 10px;}
        }

}
    @media(max-width:539px){
    .contenedorFooter{ 
        display: flex;
        flex-wrap: wrap ;
        height: 400px;
        justify-content: center;
  
        .btn.btn-outline-light.btnSecondaryIndexFooter{
            width: 150px;
            height: 150px;
            margin: 20px 10px 10px 10px;}
        }

}
    @media(max-width:339px){
        .contenedorFooter{ 
            display: flex;
            flex-wrap: wrap ;
            height: 650px;
            justify-content: center;
    
    
            .btn.btn-outline-light.btnSecondaryIndexFooter{
                width: 150px;
                height: 100px;
                margin: w0px 10px 10px 10px;}
    }

}