.container-fluid.nav{
    background-color:$colorprimary ;
  
  
   
   
    .navbar-toggler{
        margin-left: 20px;
     
    }
    
   
    .img-fluid.me-4{
        width: 150px;
       justify-content: center;
        margin-top: 20px;
    }
    .bi.bi-person-fill{
        width: 70px;
        height: 70px;
        color: white;
        margin-top: 20px;
    
    }
        .bi.bi-person-fill:hover{
            color: $colorfiltro;
            transform:scale(1.1)
        }
    

    .bi.bi-cart4.me-3{
        width: 65px;
        height: 65px;
        color: white;
        margin-top: 20px;
   

    }
        .bi.bi-cart4.me-3:hover{
            color: $colorfiltro;
            transform: scale(1.1);
        } 
    .collapse.navbar-collapse.justify-content-center{
       
        transition: 1s; 
      
    }
    .navbar-nav{
        padding: 20px;
    }

    .nav-link.dropdown-toggle.text-white{
        display: inherit;
    }
    .dropdown-menu.bback{
        background-color:$colorprimary;
        &:hover{
             display: block;
        }
    }

    }

.dropdown-item{
    background-color: $colorprimary;
    &:hover{
        background-color: $colorfiltro;
    }


}