
@media(max-width:623px){ 
   
     
    .contenedor{
        display: block;

}


}


    

.tituloPañales{
    font-size: 50px;
    text-align:center;
    margin: 20px;
}
.card-group{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
    
}

.card{
    @extend%card;
        .card-img-top{
            width: 200px;
            height: 200px;
            margin: 20px 0px 0px 40px;
            
        }
        .card-img-top:hover{
            transform: scale(1.1);
        }
    
    
        .card-title{
            text-align: center;
        }
        .card-text{
            text-align: center;
        }


        .btn.btn-primary.btnCard{
            width: 200px;
            background-color: $colorprimary;
            margin-left: 20px;
          
        
         &:hover{
            background-color: $colorfiltro;
            }
        }
      
      
    }
  