.btnFiltro{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border-style:groove;
    border-width: 1px;
    margin-left: 38%;
    margin-right: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-color: $colorprimary;
    color: $colorprimary;
    &:hover{
        background-color: $colorfiltro;
        color:white;
    }
   
}
.btnDestacados{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border-style:groove;
    border-width: 1px;
    border-color: $colorprimary;
    color: $colorprimary;
    &:hover{
        background-color: $colorfiltro;
        color: white;
    }
}

@media(max-width:623px){ 
   
    .btnFiltro{
        width: 100px;
        margin-left: 10%;
    }
    .btnDestacados{
        width: 100px;
    }
    .contenedor{
        display: block;

}


}


    

.tituloPañales{
    font-size: 50px;
    text-align:center;
    margin: 20px;
}
.card-group{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
    
}

.card{
    @extend%card;
        .card-img-top{
            width: 200px;
            height: 200px;
            margin: 20px 0px 0px 40px;
            animation-name: card;
            
        }
        .card-img-top:hover{
            transform: scale(1.1);
        }
    
    
        .card-title{
            text-align: center;
        }
        .card-text{
            text-align: center;
        }


        .btn.btn-primary.btnCard{
            width: 200px;
            background-color: $colorprimary;
            margin-left: 20px;
          
        
         &:hover{
            background-color: $colorfiltro;
            }
        }
      
   
      
    
}