@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

.container-fluid.nav {
  background-color: #0A62F7;
}
.container-fluid.nav .navbar-toggler {
  margin-left: 20px;
}
.container-fluid.nav .img-fluid.me-4 {
  width: 150px;
  justify-content: center;
  margin-top: 20px;
}
.container-fluid.nav .bi.bi-person-fill {
  width: 70px;
  height: 70px;
  color: white;
  margin-top: 20px;
}
.container-fluid.nav .bi.bi-person-fill:hover {
  color: #4C9FE6;
  transform: scale(1.1);
}
.container-fluid.nav .bi.bi-cart4.me-3 {
  width: 65px;
  height: 65px;
  color: white;
  margin-top: 20px;
}
.container-fluid.nav .bi.bi-cart4.me-3:hover {
  color: #4C9FE6;
  transform: scale(1.1);
}
.container-fluid.nav .collapse.navbar-collapse.justify-content-center {
  transition: 1s;
}
.container-fluid.nav .navbar-nav {
  padding: 20px;
}
.container-fluid.nav .dropdown-menu.bback {
  background-color: #0A62F7;
}

.dropdown-item {
  background-color: #0A62F7;
}
.dropdown-item:hover {
  background-color: #4C9FE6;
}

/* Filtro Pañales*/
.filtroProductos .btnFiltro {
  width: 150px;
  height: 30px;
  margin-top: 5px;
  margin-left: 30px;
  margin-bottom: 10px;
  border: hidden;
  border-radius: 5px;
}
/* Tarjeta Pañales*/
.card {
  width: 300px;
  height: 450px;
  padding: 10px;
  margin: 5px;
}

/* Tarjeta de Inicio*/
.cardIndex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*Footer*/
.btn.btn-primary.footer {
  width: 120px;
  background-color: #0A62F7;
}
.btn.btn-primary.footer:hover {
  background-color: #4C9FE6;
}

.filtroProductos {
  background-color: #4C9FE6;
  color: white;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  height: 96.1%;
  list-style: none;
  overflow: hidden;
  padding: 20px;
}
.filtroProductos .lista {
  list-style: none;
}
.filtroProductos .Marcas {
  text-align: center;
  font-size: 25px;
}
.filtroProductos .Tipos {
  text-align: center;
  font-size: 25px;
}
.filtroProductos .Talles {
  text-align: center;
  font-size: 25px;
}
.filtroProductos .Cantidad {
  text-align: center;
  font-size: 25px;
}
@media (max-width: 623px) {
  .filtroProductos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1000px;
    background-color: #4C9FE6;
    margin: 0px 0px 50px;
    padding-bottom: 0px;
  }
}
.card.text-bg-dark.cardIndex {
  margin: 0px;
  padding: 0px;
  border: none;
  width: 100%;
  height: 600px;
}
.card.text-bg-dark.cardIndex .card-title.inicio {
  text-align: center;
  margin-top: 20px;
  font-size: 70px;
  color: white;
  opacity: 70%;
}
.card.text-bg-dark.cardIndex .card-img {
  height: 600px;
}

.contenedorSecundarioIndex {
  background-color: #0A62F7;
  width: 100%;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
}

.btn.btn-outline-light.btnSecondaryIndex {
  width: 180px;
  height: 160px;
  margin-top: 20px;
  margin-left: 20px;
}
.btn.btn-outline-light.btnSecondaryIndex:hover {
  transform: scale(1.1);
}

@media (max-width: 1245px) {
  .contenedorSecundarioIndex {
    display: row;
    background-color: #0A62F7;
    width: 100%;
    height: 400px;
  }
  .btn.btn-outline-light.btnSecondaryIndex {
    display: column;
    width: 140px;
    height: 160px;
    margin: 20px;
  }
}
@media (max-width: 539px) {
  .contenedorSecundarioIndex {
    background-color: #0A62F7;
    width: 100%;
    height: 600px;
  }
  .btn.btn-outline-light.btnSecondaryIndex {
    width: 140px;
    height: 160px;
    margin: 20px;
  }
}
@media (max-width: 359px) {
  .contenedorSecundarioIndex {
    background-color: #0A62F7;
    width: 100%;
    height: 400px;
  }
  .btn.btn-outline-light.btnSecondaryIndex {
    width: 140px;
    height: 100px;
    margin: 10px;
  }
}
@media (max-width: 359px) {
  .contenedorSecundarioIndex {
    background-color: #0A62F7;
    width: 100%;
    height: 400px;
  }
  .btn.btn-outline-light.btnSecondaryIndex {
    width: 100px;
    height: 100px;
    margin: 10px;
  }
}
.ofertaSemanalIndex {
  text-align: center;
  font-size: 70px;
  margin: 30px;
}

.card.border-dark.mb-3.index {
  margin: 20px;
  width: 350px;
  height: 500px;
}

.card-img-top.index {
  width: 250px;
  height: 250px;
  padding-left: 50px;
}

.card-title.indexPrecioAntes {
  text-decoration: line-through;
  color: red;
}

.card-title.indexPrecioDespues {
  font-size: 40px;
}

.card-title.index {
  font-size: 30px;
}

.btn.btn-primary.btnCardIndex {
  width: 250px;
  margin: 20px;
}
.btn.btn-primary.btnCardIndex:hover {
  background-color: #4C9FE6;
}

@media (max-width: 371px) {
  .card.border-dark.mb-3.index {
    margin: 20px;
    width: 350px;
    height: 500px;
  }
  .card-img-top.index {
    width: 200px;
    height: 200px;
    padding-left: 0px;
  }
  .btn.btn-primary.btnCardIndex {
    width: 150px;
    margin-left: 50px;
  }
}
.contenedorFooter {
  width: 100%;
  height: 200px;
  background-color: #0A62F7;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn.btn-outline-light.btnSecondaryIndexFooter {
  width: 250px;
  height: 150px;
  margin: 20px 35px 20px 35px;
}

.btn.btn-outline-light.btnSecondaryIndexFooter:hover {
  transform: scale(1.1);
}

@media (max-width: 1279px) {
  .contenedorFooter {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    justify-content: center;
  }
  .btn.btn-outline-light.btnSecondaryIndexFooter {
    width: 200px;
    height: 150px;
    margin: 20px 35px 20px 35px;
  }
}
@media (max-width: 1079px) {
  .contenedorFooter {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    justify-content: center;
  }
}
@media (max-width: 539px) {
  .contenedorFooter {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    justify-content: center;
  }
  .btn.btn-outline-light.btnSecondaryIndexFooter {
    width: 150px;
    height: 150px;
    margin: 20px 10px 10px 10px;
  }
}
@media (max-width: 339px) {
  .contenedorFooter {
    display: flex;
    flex-wrap: wrap;
    height: 650px;
    justify-content: center;
  }
  .btn.btn-outline-light.btnSecondaryIndexFooter {
    width: 150px;
    height: 100px;
    margin: w0px 10px 10px 10px;
  }
}
.contenedorPrincipalPañales {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "navegador navegador navegador navegador" "aside     main      main      main" "aside     main      main      main" "aside     main      main      main" "footer    footer    footer    footer";
}

.aside {
  grid-area: aside;
}

.main {
  grid-area: main;
}

.navegador {
  grid-area: navegador;
}

.footer {
  grid-area: footer;
}

@media (max-width: 623px) {
  .contenedorPrincipalPañales {
    display: block;
  }
}
.tituloPañales {
  font-size: 50px;
  text-align: center;
  margin: 20px;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
}

.card .card-img-top {
  width: 200px;
  height: 200px;
  margin: 20px 0px 0px 40px;
}
.card .card-img-top:hover {
  transform: scale(1.1);
}
.card .card-title {
  text-align: center;
}
.card .card-text {
  text-align: center;
}
.card .btn.btn-primary.btnCard {
  width: 200px;
  background-color: #0A62F7;
  margin-left: 20px;
}
.card .btn.btn-primary.btnCard:hover {
  background-color: #4C9FE6;
}

.tituloPreguntasFrecuentes {
  text-align: center;
  font-size: 45px;
  margin-top: 30px;
}

.accordion-item {
  margin: 100px;
}

.col.contacto {
  margin: 20px;
}

.tituloContacto {
  text-align: center;
}

.fa-solid.fa-phone.contacto {
  font-size: 35px;
  margin: 2px;
}

.telefonoContactoPrimario {
  font-size: 35px;
  text-decoration: none;
}

.far.fa-envelope.contacto {
  font-size: 35px;
}

.correoContactoPrimario {
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
  text-decoration: none;
}

.bi.bi-geo-alt {
  width: 35px;
  height: 35px;
  margin-left: -20px;
  margin-bottom: 10px;
}

.btn.btn-primary.contacto {
  width: 150px;
}
.btn.btn-primary.contacto:hover {
  background-color: #4C9FE6;
}

.textoContacto {
  font-size: 25px;
}

.correoContacto {
  text-decoration: none;
  font-size: 25px;
  margin: 2px;
}

.telefonoContacto {
  text-decoration: none;
  font-size: 25px;
  margin: 0px;
}

.asideContacto {
  margin: 20px;
}

.mainContacto {
  margin: 20px;
}

.informacionpersonal {
  font-size: 25px;
  margin-bottom: 40px;
}

.row.text-center.callToAction {
  width: 100%;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  margin: 30px 0px 30px 0px;
  padding-right: 0px;
  padding: 0%;
}

.h3footer {
  font-size: 40px;
  padding: 0%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.placeholderIndex {
  font-size: 30px;
}

.placeholderIndex {
  width: 250px;
  font-size: 20px;
}

.footerMain {
  background-color: #0A62F7;
  color: white;
  width: 100%;
  height: 300px;
  margin: 0px;
  padding: 20px;
}

.linksFooter {
  font-size: 20px;
  margin: 30px;
  font-family: "Times New Roman", Times, serif;
}

.manifiesto {
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.manifiesto:hover {
  color: bisque;
}

.polCam {
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.polCam:hover {
  color: bisque;
}

.envios {
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.envios:hover {
  color: bisque;
}

.contactoLinks {
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.contactoLinks:hover {
  color: bisque;
}

.contactoFooter {
  margin: 30px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.fa-solid.fa-phone {
  font-size: 25px;
}

.telefonoFooter {
  font-size: 25px;
  text-decoration: none;
  color: white;
}
.telefonoFooter:hover {
  color: bisque;
}

.far.fa-envelope {
  font-size: 30px;
}

.correoFooter {
  text-decoration: none;
  font-size: 25px;
  color: white;
}
.correoFooter:hover {
  color: bisque;
}

.ubicacionFooter {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
}

.row.text-center.footer {
  padding-right: 0%;
  width: 100%;
}

.h4footer {
  margin-top: 20px;
  padding-right: 0%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.fa-brands.fa-facebook {
  font-size: 30px;
  margin-top: 20px;
}

.col.text-start {
  width: 100%;
  padding: 0%;
}

.fa-brands.fa-instagram {
  font-size: 30px;
  margin-top: 20px;
}

.maps {
  width: 300px;
  margin: 20px 20px 10px;
}

@media (max-width: 681px) {
  .footerMain {
    background-color: #0A62F7;
    color: white;
    width: 100%;
    height: 600px;
    margin: 0px;
  }
}
@media (max-width: 366px) {
  .footerMain {
    background-color: #0A62F7;
    color: white;
    width: 100%;
    height: 600px;
    margin: 0px;
  }
  .maps {
    width: 150px;
    margin: 20px 20px 10px;
  }
}
@media (max-width: 317px) {
  .footerMain {
    width: 100%;
    height: 780px;
  }
}
.tituloEnvios {
  margin: 40px 0px 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 45px;
}

.parrafoEnvios {
  font-size: 25px;
}

.cardEnvios {
  margin: 10px;
  border: ridge;
}

.card-body.caba {
  margin: 5px;
  background-color: lightblue;
  color: black;
}

.subtituloCaba {
  margin-bottom: 30px;
  font-size: 35px;
}

.parrafoCaba {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

.h3Envios {
  color: orange;
}

.card-body.gba {
  margin: 5px;
  background-color: lightblue;
}

.subtituloGba {
  margin-bottom: 30px;
  font-size: 35px;
}

.h4Gba {
  color: orange;
}

.parrafoGba {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  text-align: center;
  margin: 10px;
}

.card-body.text-center.localidades {
  background-color: lightblue;
  margin: 5px;
}

.subtituloLocalidades {
  margin-bottom: 30px;
  font-size: 35px;
}

.parrafoLocalidades {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  text-align: center;
  margin: 10px;
}

.pagination {
  justify-content: center;
}/*# sourceMappingURL=style.css.map */