*{
    padding:0;
    margin:0
}

/* INICIO*/
.card.text-bg-dark.cardIndex{
    margin: 0px;
    padding: 0px;
    
}
.card-title.inicio{
    text-align: center;
    margin-top: 200px;
    font-size: 70px;
    color:#0A62F7;
}
.card-img{
    height: 600px;
}
.contenedorSecundarioIndex{
    background-color: #0A62F7;
    width: 100%;
    height: 200px;
}
.btn.btn-outline-light.btnSecondaryIndex{
    width: 200px;
    height: 150px;
    margin: 20px 10px 20px 10px;
   
}
.btn.btn-outline-light.btnSecondaryIndex:hover{
    transform: scale(1.1);
}

.ofertaSemanalIndex{
    text-align: center;
    font-size: 70px;
    margin: 30px;
}


.card.border-dark.mb-3.index{
    margin: 10px;

}
.card-img-top.index{
    width: 350px;
    height: 350px;
}
.card-title.indexPrecioAntes{
    text-decoration:line-through;
    color: red;
}
.card-title.indexPrecioDespues{
    font-size: 40px;
}
.card-title.index{
    font-size: 30px;
}
.btn.btn-primary.btnCardIndex{
    width:350px ;
    margin: 10px;
}
.contenedorFooter{
    width: 100%;
    height: 200px;
    background-color: #0A62F7;
}
.btn.btn-outline-light.btnSecondaryIndexFooter{
    width: 250px;
    height: 150px;
    margin: 20px 35px 20px 35px;
}
.btn.btn-outline-light.btnSecondaryIndexFooter:hover{
    transform: scale(1.1);
}
/*
.asideInicio{
    background-image: url(../img/bebe-inicio-jpg.jpg);
    width: 100%;
    height: 700px;
    margin:0px 5px 0px 5px;
    background-repeat: no-repeat;




/* Preguntas Frecuentes*/
.tituloPreguntasFrecuentes{
    text-align: center;
    font-size: 45px;
}
.accordion-item{
    margin: 100px;
    
}
/* Contacto*/




.correoContacto{
    text-decoration: none;
    font-size: 25px;
    margin:2px;
}
.telefonoContacto{
    text-decoration: none;
    font-size: 25px;
    margin:0px;
}
.asideContacto{
    margin: 20px;
}
.mainContacto{
    margin: 20px;
}.informacionpersonal{
    font-size: 25px;
    margin-bottom: 40px;
}


/* Pañales*/
.card-img-top{
    width: 250px;
    height: 250px;
    margin: 20px;
    
}
.card-img-top:hover{
    transform: scale(1.1);
}
.card{
    padding: 10px;
    margin: 5px;
}
.card-title{
    text-align: center;
}
.card-text{
    text-align: center;
}


.btn.btn-primary.btnCard{
    width: 250px;
}
.tituloPañales{
    font-size: 50px;
    text-align:center;
    margin: 20px;
}

/*footer*/
.footer{
    margin: 30px;
}
.manifiesto{
    text-decoration: none;
}
.polCam{
    text-decoration: none;
}
.envios{
    text-decoration: none;
}
.contactoFooter{
    text-decoration: none;
}
.telefonoFooter{
    text-decoration: none;
}
.correoFooter{
    text-decoration: none;
    
}
